@import url('https://fonts.googleapis.com/css?family=muli&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'muli',sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgb(7, 18, 32);

}
.container {
    display: flex;
    width: 90vw;
    align-items: center;
}

.panel {
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    height: 80vh;
    color: aliceblue;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in ;
}

.panel h3 {
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}
 .panel.active h3 {
     opacity: 1;
     transition:opacity 0.3s ease-in 0.4s;
 }

 @media(max-width: 580px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .panel {
        width:80%;
        position:initial;
        
    }
    
    .panel h3 {
        position:relative;
        top: 90%;
    }

    .panel.active {
        
       flex: 600px;
       transition:flex 0.7s ease-in-out ;
    }

    .panel.active h3 {
        transition:opacity 0.3s ease-in 0.4s;
    }
 }
